---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: false
section_icon: lore
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign pubs_in_cat = site.publications | where: "category", category[0] | sort: "date" | reverse %}
    {% if pubs_in_cat and pubs_in_cat.size > 0 %}
      <h2>{{ category[1].title }}</h2><hr />
      {% include ef-grouped-banner-list.html items=pubs_in_cat item_include="archive-single-banner.html" %}
    {% endif %}
  {% endfor %}
{% else %}
  {% assign pubs_sorted = site.publications | sort: "date" | reverse %}
  {% include ef-grouped-banner-list.html items=pubs_sorted item_include="archive-single-banner.html" %}
{% endif %}
