{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li class="endspace-card">
  <div class="tech-text">Publication</div>
  <h3 class="archive__item-title" itemprop="headline">
    {% if post.link %}
      <a href="{{ post.link }}">{{ title }}</a>
    {% else %}
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    {% endif %}
  </h3>
  {% if post.citation %}
    <p class="archive__item-excerpt">{{ post.citation }}</p>
  {% endif %}
</li>
