---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>
    <div id="theme-endspace">
      {% include browser-upgrade.html %}
      {% include masthead.html %}

      {{ content }}

      <button id="ef-totop" class="ef-totop" type="button" aria-label="Back to top">
        <span class="ef-totop__text">Back to top</span>
      </button>

      <div class="page__footer">
        <footer>
          {% include footer/custom.html %}
          {% include footer.html %}
        </footer>
      </div>
    </div>

    {% include scripts.html %}
  </body>
</html>
